@import "tailwindcss";
@plugin "daisyui";


@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes border-spin {
  to {
    --border-angle: 360deg;
  }
}

/* Tailwind v4 custom animation utility */
@layer utilities {
  .animate-border {
    animation: border-spin 4s linear infinite;
  }
}

